$base-url-assets: "/";
$base-url-img: "#{$base-url-assets}images/";
$bg-color: rgb(255, 255, 255);
$bg-color-dark: rgb(238, 238, 238);
$text-color: #797984;
$green: rgb(105, 197, 147);
$blue: rgb(0, 173, 238);
$white: rgb(255, 255, 255);